.editable {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.read-only {
  border: none;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background: none;
}
